MiniVideoSceneWidget {
    border-color: purple;
    border-width: 2px;
    border-style: solid;
}

TextValueWidget, TextGapWidget {
    border-color: green;
    border-width: 2px;
    border-style: solid;
}

TextValueWidget > QLineEdit {
    background: white;
    color: green;
}

NumberValueWidget, NumberGapWidget, NumberOperatorWidget {
    border-color: blue;
    border-width: 2px;
    border-style: solid;
}

NumberValueWidget > QLineEdit {
    background: white;
    color: blue;
}

VideoValueWidget, VideoGapWidget {
    border-color: red;
    border-width: 2px;
    border-style: solid;
}

VideoValueWidget > QLineEdit {
    background: white;
    color: red;
}

VideoCollectionWidget {
    border-color: red;
    border-width: 2px;
    border-style: solid;
}

VideoCollectionWidget > QLineEdit {
    background: white;
    color: red;
}

GetterWidget, SetterWidget {
    background: white;
}