QWidget {
    font-size: 20px;
}

TextSceneWidget, MiniTextSceneWidget {
    border-color: green;
    border-width: 2px;
    border-style: solid;
    background: white;
}

VideoSceneWidget, MiniVideoSceneWidget {
    border-color: red;
    border-width: 2px;
    border-style: solid;
    background: white;
}

TextGapWidget {
    background: green;
}

TextValueWidget,
YoutubeVideoGetTitleWidget {
    border-color: green;
    border-width: 2px;
    border-style: solid;
    background: white;
}

TextValueWidget > QLineEdit {
    background: white;
    color: green;
}

NumberGapWidget {
    background: blue;
}

NumberValueWidget, NumberOperatorWidget {
    border-color: blue;
    border-width: 2px;
    border-style: solid;
    background: white;
}

NumberValueWidget > QLineEdit {
    background: white;
    color: blue;
}

VideoGapWidget,
VideoCollectionGapWidget {
    background: red;
}

VideoValueWidget,
YoutubeVideoCollectionRandomWidget {
    border-color: red;
    border-width: 2px;
    border-style: solid;
    background: white;
}

VideoValueWidget > QLineEdit {
    background: white;
    color: red;
}

VideoCollectionWidget,
YoutubeVideoGetRelatedWidget {
    border-color: red;
    border-width: 2px;
    border-style: solid;
    background: white;
}

VideoCollectionWidget > QLineEdit {
    background: white;
    color: red;
}

NumberGapWidget > QLabel,
TextGapWidget > QLabel,
VideoGapWidget > QLabel,
VideoCollectionGapWidget > QLabel,
CommandGapWidget > QLabel,
SceneGapWidget > QLabel {
    color: white;
}

CommandGapWidget {
    background: orange;
}

SceneGapWidget {
    background: purple;
}

GetWidget, SetWidget {
    background: white;
    border-color: orange;
    border-width: 2px;
    border-style: solid;
    background: white;
}

CommentWidget {
    font-style: italic;
    font-family: georgia;
    border: 0px;
}