/*
 * Colour-blind safe colour scheme.
 *
 * Based on https://bugzilla.mozilla.org/show_bug.cgi?id=578994.
 *
 * grass-green: #339900
 * orange: #ff6600;
 * brick-red: #FF0000;
 * deep-pink: #FF6699;
 */

QWidget {
    font-size: 18px;
}

TextSceneWidget,
MiniTextSceneWidget,
TextGapWidget > QLabel,
TextValueWidget,
YoutubeVideoGetTitleWidget {
    border-color: #339900;
    border-width: 2px;
    border-style: solid;
    background: white;
}

TextGapWidget {
    color: #339900;
}

VideoSceneWidget,
MiniVideoSceneWidget,
VideoGapWidget > QLabel {
    border-color: #FF0000;
    border-width: 2px;
    border-style: solid;
    background: white;
}

VideoCollectionGapWidget > QLabel {
    border-color: #FF6699;
    border-width: 2px;
    border-style: solid;
    background: white;   
}

TextValueWidget > QLabel {
    color: #339900;
    font-size: 36px;
}

TextValueWidget > QLineEdit {
    background: white;
    color: #339900;
}

NumberValueWidget,
NumberOperatorWidget,
NumberGapWidget > QLabel {
    border-color: blue;
    border-width: 2px;
    border-style: solid;
    background: white;
}

NumberGapWidget {
    color: blue;
}

NumberValueWidget > QLineEdit {
    background: white;
    color: blue;
}

VideoValueWidget,
YoutubeVideoCollectionRandomWidget {
    border-color: #FF0000;
    border-width: 2px;
    border-style: solid;
    background: white;
}

VideoValueWidget > QLineEdit {
    background: white;
    color: #FF0000;
}

VideoCollectionWidget,
YoutubeVideoGetRelatedWidget,
YoutubeSearchWidget {
    border-color: #FF6699;
    border-width: 2px;
    border-style: solid;
    background: white;
}

SceneGapWidget {
    font-size: 36px;
    text-align: center;
}

CommandGapWidget {
    border-color: #ff6600;
    border-style: solid;
    background: white;
    color: #ff6600;
}

SceneGapWidget {
    border-color: black;
    border-style: solid;
    background: white;
}

GetWidget {
    background: white;
    border-color: purple;
    border-width: 2px;
    border-style: solid;
}

SetWidget {
    background: white;
    border-color: #ff6600;
    border-width: 2px;
    border-style: solid;
}

CommentWidget {
    font-style: italic;
    font-family: georgia;
    border: 0px;
}

GapWidget > QLabel {
    border-style: ridge;
    border-width: 8px;
}

ListGapWidget {
    border-style: ridge;
    border-width: 5px;
}

TextSceneWidget,
VideoSceneWidget,
MiniTextSceneWidget,
MiniVideoSceneWidget,
GapWidget > QLabel,
ListGapWidget,
TextValueWidget,
NumberValueWidget,
VideoValueWidget,
VideoCollectionValueWidget,
SetWidget,
GetWidget,
NumberOperatorWidget,
YoutubeVideoGetTitleWidget,
YoutubeVideoGetRelatedWidget,
YoutubeVideoCollectionRandomWidget {
    border-radius: 5px;
}

/* Highlight draggable widgets */

/* Components in Palette */

PaletteWidget MiniTextSceneWidget:hover,
PaletteWidget MiniVideoSceneWidget:hover,
PaletteWidget TextValueWidget:hover,
PaletteWidget NumberValueWidget:hover,
PaletteWidget VideoValueWidget:hover,
PaletteWidget VideoCollectionValueWidget:hover,
PaletteWidget SetWidget:hover,
PaletteWidget GetWidget:hover,
PaletteWidget NumberOperatorWidget:hover,
PaletteWidget YoutubeVideoGetTitleWidget:hover,
PaletteWidget YoutubeVideoGetTitleWidget:hover,
PaletteWidget YoutubeVideoGetRelatedWidget:hover,
PaletteWidget YoutubeVideoGetRelatedWidget:hover,
PaletteWidget YoutubeVideoCollectionRandomWidget:hover {
    background: #ff6600;
}

/* Widgets where highlight has been explicitly set */

GapWidget[highlight="true"] > QLabel,
ListWidget[highlight="true"] {
    background: #ff6600;
}

QPlainTextEdit {
    font-family: Courier New, monospace;
}